{{ template "chrome/header.html" . }}
{{ template "chrome/navbar.html" . }}

<div class="container">

<div id="center" class="col-md-12">
	<h1>Who We Are</h1>
	<p>The Association of Computing Machinary is an RSO based out of the Computer Engineering &amp; Computer Science department of the J.B. Speed School of Engineering. As the national ACM states, the ACM is the world’s largest educational and scientific computing society, delivering resources that advance computing as a science and a profession. We are dedicated to helping our fellow students advance their skills in today’s computing world. However, the ACM is not just limited to that. All students at UofL are welcome to join us, become friends, have fun, and learn.</p>

	<p>The UofL Chapter of the ACM provides many benefits to its members including:</p>

	<ul>
		<li>24 ACM Lab Access</li>
		<li>Queit study room (known as the Fishbowl)</li>
		<li>Access to a wealth of knowledge from its members
			<ul>
				<li>Programming</li>
				<li>Networking</li>
				<li>Linux</li>
				<li>Windows</li>
				<li>Security</li>
				<li>Systems Administration</li>
				<li>Cloud Orchestration</li>
				<li>Many other areas!</li>
			</ul>
		</li>
		<li>Server access on the CECS and ACM clouds
			<ul>
				<li>Create your own servers!</li>
				<li>Create small labs to experiment with</li>
			</ul>
		</li>
		<li>Department connections
			<ul>
				<li>The other kind of networking…</li>
			</ul>
		</li>
		<li>A place to hangout before/between/after class</li>
		<li>Stress relief through games <br>
			<ul>
				<li>Video games and board games available</li>
			</ul>
		</li>
		<li>Events throughout the semester</li>
		<li>Semesterly LAN Party</li>
		<li>The Hat Wall</li>
		<li>Food &amp; Drink at resonable prices</li>
		<li>Free pizza at General Business Meetings</li>
	</ul>

	<p>In addition, the ACM also has many Special Interest Groups to get invovled with!</p>

	<p><strong>Student Linux User Group (SLUG)</strong>: Anything and everything Linux! Whether you’re a beginner or advanced, all are welcome. SLUG is always talking about something nerdy and it’s usually a lot of fun. This year SLUG hopes to have a couple of Linux Workshops to introduce Linux to other students and hopefully get them hooked. SLUG also runs most of the ACM servers and has many connections into the CECS department servers.</p>

	<p><strong>Cyber Defense</strong>: Information Security, Network Security, Sys-admin, and a whole host of other topics are discussed here. This is a great opportunity to learn a lot of different skills that are very valuable in today’s world. It’s a great club to expand your skills, do a little hacking, and defend yourself. The group also provides a Cyber Defense competition for a Business School class as their final. The end goal of the club is to compete in the Collegiate Cyber Defense Competition and bring home the National trophy. The competition is late in the Spring semester with many fun mini-competitions along the way. The group went to Regionals just a few months ago and placed 5th!</p>

	<p><strong>Game Development</strong>: Learn to make some games! This is a fun club to get started in game programming. If you’ve always wanted to try it, but never knew where to start, you’ll fit in perfectly here. This club has always struggled to maintain membership, but lets make this year different! Maybe you’ll make the next Minecraft (or whatever game is popular these days among you youngin’s.)</p>

</div>

</div>

{{ template "chrome/footer.html" . }}
