{{ template "chrome/header.html" . }}
{{ template "chrome/navbar.html" . }}

<div class="container">

<div id="center" class="col-md-12">
	<h1>ACM Mailing Lists</h1>
	<p><strong><a href="mailinglists/uofl-acm-members" title="View the archives">ACM General Member List</a></strong>&nbsp;-&nbsp;<a href="https://groups.google.com/forum/#!forum/uofl-acm-members/join" target="_blank" title="Join the ACM General Member LISTSERV">Join</a>&nbsp;-&nbsp;<a href="https://groups.google.com/d/optout" target="_blank" title="Leave the ACM General Member LISTSERV">Leave</a> <br />
	Email Address: <a href="mailto:uofl-acm-members@googlegroups.com">uofl-acm-members@googlegroups.com</a></p>

	<p><strong><a href="/mailinglists/uofl-acm-cyber-defense" title="View the archives">ACM Cyber Defense List</a></strong>&nbsp;- <a href="https://groups.google.com/forum/#!forum/uofl-acm-cyber-defense/join" target="_blank" title="Join the Cyber Defense LISTSERV">Join</a>&nbsp;-&nbsp;<a href="https://groups.google.com/d/optout" target="_blank" title="Leave the ACM General Member LISTSERV">Leave</a> <br />
	Email Address: <a href="mailto:uofl-acm-cyber-defense@googlegroups.com">uofl-acm-cyber-defense@googlegroups.com</a></p>

	<p><strong><a href="/mailinglists/uofl-acm-game-development" title="View the archives">ACM Game Development List</a></strong>&nbsp;- <a href="https://groups.google.com/forum/#!forum/uofl-acm-game-development/join" title="Join the Game Development LISTSERV">Join</a>&nbsp;-&nbsp;<a href="https://groups.google.com/d/optout" title="Leave the ACM General Member LISTSERV">Leave</a> <br />
	Email Address: <a href="mailto:uofl-acm-game-development@googlegroups.com">uofl-acm-game-development@googlegroups.com</a></p>

	<p><strong><a href="/mailinglists/slug" target="_blank" title="View the archives">ACM SLUG</a></strong>&nbsp;-&nbsp;<a href="http://lists.speedacm.org/listinfo/slug" title="Join or Leave the SLUG LISTSERV">Manage</a> <br />
	Email Address: <a href="mailto:slug@speedacm.org">slug@speedacm.org</a><br>
	The SLUG list is hosted on a CECS/SLUG host Mailman instance</p>

	<p><strong><a href="/mailinglists/slug" title="View the archives">ACM Officers List</a></strong><br />
	Email Address: <a href="mailto:uofl-acm-officers@googlegroups.com">uofl-acm-officers@googlegroups.com</a></p>

</div>

</div>

{{ template "chrome/footer.html" . }}
