<div class="row well">
	<legend><span class="fa fa-link"></span>&nbsp;Links</legend>
	<p><a href="/calendars/ccdc/" title="View the Cyber Defense calendar" class="btn btn-default btn-primary btn-block"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></p>
	<p><a href="https://drive.google.com/folderview?id=0B4ybQLDSBpx7eTE4UjlOMHZRMXM&usp=sharing" target="_blank" title="View or Request access to the Cyber Defense Google Drive" class="btn btn-default btn-primary btn-block"><span class="fa fa-files-o"></span> Google Drive</a></p>
	<p><a href="http://ccdc.speedacm.org" target="_blank" title="View the Jungle Book. Authentication required." class="btn btn-default btn-primary btn-block"><span class="fa fa-terminal"></span> Jungle Book</a></p>
</div>
