<aside id="meta">
	<section>
		<h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
		<h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
	</section>
	<ul id="topics">
		{{ range .Params.topics }}
		<li><a href="/topics/{{ . | urlize }}">{{ . }}</a> </li>
		{{ end }}
	</ul>
	<ul id="tags">
		{{ range .Params.tags }}
		<li><a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
		{{ end }}
	</ul>
	{{ if .Prev }}
	<p class="pull-left">
		Previous: <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
	</p>
	{{ end }}
	{{ if .Next }}
	<p class="pull-right">
		Next: <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
	</p>
	{{ end }}
</aside>
