	<div class="footer">
		<div class="container">
			<div id="footerlogo" class="footcontent" style="
    width: 260px;
    margin: 10px;
    padding-left: 20px;
">
{{ .Site.Title }}
			</div>
			<div class="footcontent">
			<h2>Location</h2>
				<div class="content">
					Rm. 002, J.B. Speed School of Engineering
				</div>
			</div>
			<div class="footcontent">  
				<h2>Shortcuts</h2>
				<div class="content">
					<ul class="menu clearfix"><li class="first leaf"><a href="http://www.acm.org/about/code-of-ethics" title="View the ACM Code of Ethics">ACM Code of Ethics</a></li>
					<li class="leaf"><a href="http://cam.speedacm.org/" title="View what's going on in the ACM">Lab Webcam</a></li>
					<li class="last leaf"><a href="/mailinglists" title="Join our mailing lists">Mailing Lists</a></li>
				</ul>  </div>
				</div>
			<div class="footcontent">
				<h2>Social</h2>
				<div class="content">
					<ul class="menu clearfix"><li class="first leaf"><a href="https://www.facebook.com/speedacm" title="">Facebook</a></li>
					<li class="leaf"><a href="https://plus.google.com/106982130408377400985/" title="">Google Plus</a></li>
				</ul>  </div>
			</div>
			
			
		</div>
	</div>
{{ template "chrome/background.html" . }}
</body>
</html>
