	<div class="footer">
		<div class="container">
			<div id="footerlogo" class="footcontent" style="
    width: 260px;
    margin: 10px;
    padding-left: 20px;
">
{{ .Site.Title }}
			</div>
			<div class="footcontent">
			<h2>Location</h2>
				<div class="content">
					TBD
				</div>
			</div>
			<div class="footcontent">  
				<h2>Shortcuts</h2>
				<div class="content">
					<ul class="menu clearfix"><li class="first leaf"><a href="http://www.acm.org/about/code-of-ethics" title="View the ACM Code of Ethics">ACM Code of Ethics</a></li>
					<!--<li class="leaf"><a href="http://cam.speedacm.org/" title="View what's going on in the ACM">Lab Webcam</a></li>-->
				</ul>  </div>
				</div>
			<div class="footcontent">
				<h2>Social</h2>
				<div class="content">
					<div class="row text-center">
						<a href="https://www.facebook.com/speedacm" target="_blank" class="btn btn-lg btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/speedacm" target="_blank" class="btn btn-lg btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.instagram.com/uoflspeedacm/" target="_blank" class="btn btn-lg btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
						<a href="https://github.com/speedacm/" target="_blank" class="btn btn-lg btn-social-icon btn-github"><i class="fa fa-github"></i></a>
						<a href="http://discord.speedacm.org/" target="_blank" class="btn btn-lg btn-social-icon btn-discord"><i class="fa fa-discord"></i></a>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
{{ template "chrome/background.html" . }}
</body>
</html>
