	    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	 <link href="/css/style.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="/js/jquery.js"></script>
	<script src="/js/two.min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/backgound.js"></script>

	<link rel="icon" href="{{.Site.BaseUrl}}/favicon.ico" />
