    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta http-equiv="Access-Control-Allow-Origin" content="https://speedacm.org">
	<meta property="og:title" content="Speed ACM">
	<meta property="og:description" content="The University of Louisville's Student Chapter of the Association for Computing Machinery">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://speedacm.org/img/acm_logo.png">
