    <!-- Fixed navbar -->
    <div class="navbar navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseUrl }}">Speed ACM</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {{ if eq .Site.Title .Title }} class="active" {{end}}><a href="/">Home</a></li>
            <li {{ if eq .Title "Abouts" }} class="active" {{end}}><a href="/about">About</a></li>
            <li {{ if or (eq .Title "Calendars") (eq .Section "calendars") }} class="active" {{end}}> <a href="/calendars">Calendars</a></li>
            <li {{ if or (eq .Title "Posts") (eq .Section "posts") }} class="active" {{end}}> <a href="/posts">Posts</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
			
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
