    <!-- Fixed navbar -->
    <div class="navbar navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ .Site.BaseUrl }}">Speed ACM</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {{ if eq .Site.Title .Title }} class="active" {{end}}><a href="/">Home</a></li>
            <li class="dropdown{{ if or (eq .Title "Abouts") (eq .Section "about") }} active{{end}}">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            	<ul class="dropdown-menu">
        	    	<li><a href="/about">Who We Are</a></li>
        	    	<li><a href="/about/officers">Officers</a></li>
        	    	<li class="divider"></li>
        	    	<li><a href="/about/constitution">Constitution</a></li>
			<li><a href="http://www.acm.org/about/code-of-ethics" target="_blank">Code of Ethics</a></li>
		</ul>
            </li>
            <li class="dropdown{{ if or (eq .Title "Calendars") (eq .Section "calendars") }} active{{end}}">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendars<b class="caret"></b></a>
            	<ul class="dropdown-menu">
        	    	<li><a href="/calendars">All Calendars</a></li>
        	    	<li class="divider"></li>
        	    	<li><a href="/calendars/slug">SLUG</a></li>
			<li><a href="/calendars/ccdc">Cyber Defense</a></li>
			<li><a href="/calendars/gamedev">Game Development</a></li>
		</ul>
            </li>
            <li class="dropdown{{ if or (eq .Title "Mailinglists") (eq .Section "mailinglists") }} active{{end}}">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mailing Lists<b class="caret"></b></a>
            	<ul class="dropdown-menu">
        	    	<li><a href="/mailinglists">All Mailing Lists</a></li>
        	    	<li class="divider"></li>
        	    	<li><a href="/mailinglists/uofl-acm-members">ACM Members</a></li>
			<li><a href="/mailinglists/uofl-acm-officers">ACM Officers</a></li>
			<li><a href="/mailinglists/uofl-acm-cyber-defense">Cyber Defense</a></li>
			<li><a href="/mailinglists/uofl-acm-game-development">Game Development</a></li>
			<li><a href="/mailinglists/slug">SLUG</a></li>
		</ul>
            </li>
            <li {{ if or (eq .Title "Posts") (eq .Section "posts") }} class="active" {{end}}> <a href="/posts">Posts</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
			
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
