{{ template "chrome/header.html" . }}


{{ template "chrome/navbar.html" . }}
{{ template "chrome/biglogo.html" . }}

	<div id="content">

		<div id="test">
		</div>
		<div id="text">
		</div>
	
	</div>
    <div class="container">
		<div id="main" class="inner cover">
			<div class="row">
				<div class="col-md-8">
			
				<h1 class="cover-heading">Welcome.</h1>
				<p class="lead">The Speed ACM is the student chapter of the Association for Computing Machinery at the University of Louisville. We are dedicated to anything and everything computing and to providing our members the resources and support that they need to succeed!</p>
				<h2>What we do!</h2>
				<p>The Association of Computing Machinary is an RSO based out of the Computer Engineering & Computer Science department of the J.B. Speed School of Engineering. As the national ACM states, the ACM is the world's largest educational and scientific computing society, delivering resources that advance computing as a science and a profession. We are dedicated to helping our fellow students advance their skills in today's computing world. However, the ACM is not just limited to that. All students at UofL are welcome to join us, become friends, have fun, and learn.</p>
			
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<h2>Student Interest Groups</h2>
		<p>These are a few of our student interest groups listed below.</p>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <img data-src="holder.js/300x200" alt="300x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" style="width: 300px; height: 200px;">
			  <div class="caption">
				<h3>Cyber Defense</h3>
				<p>Cyber Defense is our SIG dedicated to cyber security, both offensive and defensive. We meet once a week and discuss security topics and host hands-on training.</p>
				
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <img data-src="holder.js/300x200" alt="300x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" style="width: 300px; height: 200px;">
			  <div class="caption">
				<h3>SLUG</h3>
				<p>SLUG is our Student Linux User Group. We try to meet once a week and make it our mission to spread the gospel of Linux.</p>
				
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			  <img data-src="holder.js/300x200" alt="300x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=" style="width: 300px; height: 200px;">
			  <div class="caption">
				<h3>Game Dev</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
				
			  </div>
			</div>
		  </div>
		</div>
		<h2>Contibute!</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce danibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<br>
		
			</div>
        <div class="col-md-4">
		<a href="http://www.louisville.edu/speed">
		  <img style="
    width: 340px;

" src="img/speed.jpg">
</a>
<a href="http://www.acm.org/">
		  <img style="
    width: 340px;
	padding: 20px;
	margin-left: -10px;
"src="img/acm_logo.gif">
</a>
		  <h2>Get our emails!</h2>
		  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			
		  <h2>You have data?</h2>
		  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			
		</div>
      </div>
           
     </div>
	
	</div>

{{ template "chrome/footer.html" . }}
