{{ template "chrome/header.html" . }}


{{ template "chrome/navbar.html" . }}
{{ template "chrome/biglogo.html" . }}

	
<div class="container">
	<div id="main" class="inner cover">
		<div class="row">
			<div class="col-md-8">
				<h1 class="cover-heading">Welcome</h1>
				<p class="lead">The Speed ACM is the student chapter of the Association for Computing Machinery at the University of Louisville. We are dedicated to anything and everything computing and to providing our members the resources and support that they need to succeed!</p>

				<h2>Who we are</h2>
				<p>The Association of Computing Machinary is an RSO <b>open to all students</b> based out of the Computer Engineering & Computer Science department of the J.B. Speed School of Engineering. As the national ACM states, the ACM is the world's largest educational and scientific computing society, delivering resources that advance computing as a science and a profession. We are dedicated to helping our fellow students advance their skills in today's computing world. However, the ACM is not just limited to that. All students at UofL are welcome to join us, become friends, have fun, and learn.</p>
			
				<h2>Student Interest Groups</h2>
				<p>Expand your skills, learn, meet new people, and have fun!</p>
				<div class="row">
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					    <img src="/img/ccdc.jpg" alt="Collegiate Cyber Defense Competition - State Qualifing Team">
					  <div class="caption">
						<h3>Cyber Defense</h3>
						<p>Cyber Defense is our SIG dedicated to cyber security, both offensive and defensive. Meetings are once a week to discuss security topics and host hands-on training.</p>
			
					  </div>
					</div>
				  </div>
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					  <img src="/img/slug.jpg" alt="Tux the Linux Penguin">
					  <div class="caption">
						<h3>SLUG</h3>
						<p>SLUG is our Student Linux User Group. Meetings are once a week and focus on spreading the gospel of Linux, learning something new, and getting a little nerdy.</p>
			
					  </div>
					</div>
				  </div>
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					 <img src="/img/gamedev.png" alt="Game Dev!">
					 <div class="caption">
						<h3>Game Dev</h3>
						<p>Game Development is our SIG to learn how to make games! This is a fun club to get started in game programming or advance your skills. Meetings are once a week.</p>
			
					  </div>
					</div>
				  </div>
				</div>

				<h2>Contribute!</h2>
				<p>The ACM is always looking for people to contribute in any way possible. Contact the ACM Officers using the <a href="/contact/form/" title="Contact form">ACM Officer Mailing List</a> if you'd like to propose a partnership. You can also contribute simply by being an active member, as our members are our most valuable resource. We'd love to see you around!</p>
				<br>
			</div>
			<div class="col-md-4">
				<a href="http://www.louisville.edu/speed"><img style="width: 340px;" src="/img/speed.jpg"></a>
				<a href="http://www.acm.org/"><img style="width: 340px; padding: 20px; margin-left: -10px;" src="/img/acm_logo.gif"></a>

				<h2>Get our emails!</h2>
				<p>Stay informed about the ACM! We have mailing lists for each of our groups and for the general ACM membership. Get important news, meeting reminders, relevant news to the ACM and CECS department, and ask questions. Sign up <a href="/mailinglists/overview/" title="ACM Mailing List Information">here</a>.</p>		  

				<h2>Connect with us!</h2>
				<a href="https://www.facebook.com/speedacm" target="_blank" class="btn btn-lg btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i>Connect with Facebook</a><br>
				<a href="https://twitter.com/speedacm" target="_blank" class="btn btn-lg btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i>Connect with Twitter</a><br>
				<a href="https://plus.google.com/106982130408377400985/" target="_blank" class="btn btn-lg btn-block btn-social btn-google-plus"><i class="fa fa-google-plus"></i>Connect with Google Plus</a><br>
				<a href="https://github.com/speedacm/" target="_blank" class="btn btn-lg btn-block btn-social btn-github"><i class="fa fa-github"></i>Connect with GitHub</a><br><br>

			</div>
		</div>           
	</div>	
</div>

{{ template "chrome/footer.html" . }}
